$color: #25758c;

body
{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.54), rgba(25, 25, 25, 0.79)), url(/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

#container {
  padding-left: 300px;
}

#content {
  padding-bottom: 15px;
  padding-left: 5px;
}

.history{
	background-color: #fff;
	margin: 5px;
	float: right;
}

.main-history {
	width: 80%;
	float: right;
}
.dashboard-nav-wrapper{
	padding-top: 40px !important;
	background-color: $color;
	color: #fff;
}

@media screen and (max-width: 699px) and (min-width: 520px) {
    .history {
		width: 100%;
		margin: 10px;

    }
}

#main-sec {
	background-color: $color;
}
@media only screen and (max-width : 992px) {
  #container {
    padding-left: 0px;
  }
}

.header-side {
	background-color: #25758c;
	height: 60px;
	margin-top: 0px;
	padding: 5px;
}

.admin-header-side {
	background-color: #0000ff;
	height: 60px;
	margin-top: 0px;
	padding: 5px;
}

h5
{
	font-weight: 400;
}
.teal {
  background-color: $color !important;
}
.container-auth
{
	margin-top: 60px;
	width: 500px;
	align-self: center;
	margin-bottom: 60px;
	margin-right: 60px;
}

@media screen and (max-width: 900px) and (min-width: 520px) {
.container-auth {
	margin-top: 60px;
	margin-bottom: 60px;
	margin-right: 60px;
 }
}

.nav-bar{
	background-color:#1a5262;
}

.main-auth{
	width: 50%;
	margin-top: 40px;
}

.tab {
	width: 50% !important;
}

.tabs .indicator {
    background-color: #000;
    height: 60px;
    opacity: 0.3;
}

.form-container
{
	padding: 20px;
	padding-top: 10px;
}

.confirmation-tabs-btn
{
	position: absolute;
}
.logo {
  font-size: 50px;
}
.main-navigation li a {
	color:#fff !important;
	font-size: large;
}

.reg {
	float: right !important;
}


#menu-list {
	border-bottom: 1px solid $color;
	background-color: #fff;
}
.container-fluid {
	width: 80%;
	margin: 20px;
	float: right;
}
.book {
	width: 100px;
}
.history-container {
	float: right;
	width: 75%;
}

.admin-book-list{
	float: right;
	width: 79%;
}

.book-header{
	background-color: rgba(37, 96, 185, 0.92) !important;
	color: #fff;
	height: 60px;
	padding-top: -10px;
	font-size: 30px;
	font-family: cursive;
	padding: 5px !important;
}

.card-action {
	padding: 23px 24px !important;
	height: 80px !important;
}
.pagination {
	background-color: #fff !important;
	width: 300px;
}

.pagination li.active {
    background-color: rgba(37, 96, 185, 0.92) !important;
}

.card .card-image .card-title {
	background-color: rgba(37, 96, 185, 0.92) !important;
}