<!DOCTYPE html>
<html>
<head>
  <title>All Books | Hello Books</title>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
</head>
<body>

  <div class="container-fluid">
  <div class="row">
    <div class="navbar navbar-inverse nav">
       <div class="navbar-inner">
      <div class="pull-right">
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, Bisola <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
      </div>
    </div>
    </div>

  <div class="nav-side-menu">
    <div class="brand"><h2>Hello Books</h2></div><hr />
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                <li class="collapsed">
                  <a href="#" data-toggle="modal" data-target="#add-book-modal"><i class="fa fa-gift fa-lg"></i> Rented Books</a>
                </li>
                <li class="collapsed">
                  <a href="#" data-toggle="modal" data-target="#add-cat-modal"><i class="fa fa-globe fa-lg"></i> History </a>
                </li>  
                <li class="collapsed">
                  <a href="#" data-toggle="modal" data-target="#all-book-modal"><i class="fa fa-book fa-lg"></i> Rent a Book </a>
                </li>
                 <li>
                  <a href="#" data-toggle="modal" data-target="#all-book-modal">
                  <i class="fa fa-book fa-lg"></i> All Books
                  </a>
                  </li>

                 <li>
                  <a href="users.html">
                  <i class="fa fa-users fa-lg"></i> Edit Profile
                  </a>
                </li>
            </ul>
     </div>
</div>

<div style="width: 80%; float: right;">
<div class="container-fluid">
    <div class="row">
    <ul class="thumbnails">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/814mDmcgDBL._SL256_.jpg" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                         <h3>Think rich to get rich</h3>
                        <p>The description goes here The description goes here T
                        he description goes here The description goes here The description goes here 
                        The description goes here The description goes here The description goes here </p>
                        <p align="center"><a href="" class="btn btn-primary btn-block">Rent</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/814mDmcgDBL._SL256_.jpg" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                         <h3>The Bullinon Van</h3>
                        <p>The description goes here The description goes here T
                        he description goes here The description goes here The description goes here 
                        The description goes here The description goes here The description goes here</p>
                        <p align="center"><a href="" class="btn btn-primary btn-block">Rent</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/814mDmcgDBL._SL256_.jpg" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                         <h3>The God of wonders</h3>
                        <p>The description goes here The description goes here T
                        he description goes here The description goes here The description goes here 
                        The description goes here The description goes here The description goes here</p>
                        <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Rent</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/814mDmcgDBL._SL256_.jpg" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                         <h3>The gods Must be crazy</h3>
                        <p>The description goes here The description goes here T
                        he description goes here The description goes here The description goes here 
                        The description goes here The description goes here The description goes here</p>
                        <p align="center"><a href="" class="btn btn-primary btn-block">Rent</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/814mDmcgDBL._SL256_.jpg" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                         <h3>The deer shape</h3>
                        <p>The description goes here The description goes here T
                        he description goes here The description goes here The description goes here 
                        The description goes here The description goes here The description goes here</p>
                        <p align="center"><a href="" class="btn btn-primary btn-block">Rent</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/814mDmcgDBL._SL256_.jpg" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                         <h3>The rainbow games</h3>
                        <p>The description goes here The description goes here T
                        he description goes here The description goes here The description goes here 
                        The description goes here The description goes here The description goes here</p>
                        <p align="center"><a href="" class="btn btn-primary btn-block">Rent</a>
                        </p>
                    </div>
                </div>
            </div>
        </ul>
</div>
</div>
</div>

<!-- Category Lists -->

                <div class="modal fade" id="all-book-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
                <div class="add-itemsmodal-container">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1>Select a Category</h1><br>
                  <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">                           
                <div class="icon">
                    <div class="image"><i class="fa fa-soundcloud"></i></div>
                    <div class="info">
                        <h3 class="title">Science & Arts</h3>

    <a class="btn btn-primary" href="#primary" data-toggle="modal"><h4><i class="fa fa-soundcloud"></i> View Books</h4></a>
</div>
</div>
</div>
</div>

              <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">                           
                <div class="icon">
                    <div class="image"><i class="fa fa-soundcloud"></i></div>
                    <div class="info">
                        <h3 class="title">Science & Arts</h3>

    <a class="btn btn-primary" href="#primary" data-toggle="modal"><h4><i class="fa fa-soundcloud"></i> View Books</h4></a>
</div>
</div>
</div>
</div>              <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">                           
                <div class="icon">
                    <div class="image"><i class="fa fa-soundcloud"></i></div>
                    <div class="info">
                        <h3 class="title">Science & Arts</h3>

    <a class="btn btn-primary" href="#primary" data-toggle="modal"><h4><i class="fa fa-soundcloud"></i> View Books</h4></a>
</div>
</div>
</div>
</div>              <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">                           
                <div class="icon">
                    <div class="image"><i class="fa fa-soundcloud"></i></div>
                    <div class="info">
                        <h3 class="title">Science & Arts</h3>

    <a class="btn btn-primary" href="#primary" data-toggle="modal"><h4><i class="fa fa-soundcloud"></i> View Books</h4></a>
</div>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">                           
                <div class="icon">
                    <div class="image"><i class="fa fa-soundcloud"></i></div>
                    <div class="info">
                        <h3 class="title">Psychology and Philosophy</h3>

    <a class="btn btn-primary" href="#primary" data-toggle="modal"><h4><i class="fa fa-soundcloud"></i> View Books</h4></a>
</div>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">                           
                <div class="icon">
                    <div class="image"><i class="fa fa-soundcloud"></i></div>
                    <div class="info">
                        <h3 class="title">Social & Religion</h3>

    <a class="btn btn-primary" href="#primary" data-toggle="modal"><h4><i class="fa fa-soundcloud"></i> View Books</h4></a>
</div>
</div>
</div>
</div>
                </div>
            </div>
          </div>
<!-- End Category lists -->

  <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/bootstrap.js"></script>
</body>
</html>